test/
.idea
.DS_Store
tutorials/.ipynb_checkpoints
tutorials/output
functionalities.rst
designs/

# Docs
/docs/_build/
*.pdf
*png
*.zip
*.gz
*.tgz

# Others
data/
gpu_run/
smallprot/__pycache__/
*.pyc
