test/
.idea
.DS_Store
tutorials/.ipynb_checkpoints
tutorials/output
functionalities.rst
*/__pycache__/
*/*/__pycache__/

# Docs
/docs/_build/
*.pdf
*png
*.zip
*.gz
*.tgz
Rvrsprot.egg-info/

# Others
data/
ProtCID/__pycache__/
*.pyc
